.storybook-InputSearch{
    width: 300px;
}
/* for inputSearch only*/
.storybook-InputSearch__popup {
    height: 110px; /*for 5 rows*/
}
.storybook-InputSearch__popup .storybook-List {
    min-height: 50px;
}