.c-Indicator {
    opacity: 0.4;
    background-color: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: inherit;
    height: 100%;
}
.c-Indicator__spinner {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    transform: scale(0.2);
    background-size: cover;
    background-image: url('../stories/assets/loading-buffering.gif');
}
